$firstResponsivePoint: 1300px;
$SecondResponsivePoint: 1150px;
$ThirdResponsivePoint: 1000px;
$FourthResponsivePoint: 725px;

.app-container {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, "Helvetica Neue", sans-serif;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 250px 600px 400px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "left-column    center-column   right-column";

    @media (max-width: $firstResponsivePoint) {
      grid-template-columns: 1fr 600px 400px;
    }

    @media (max-width: $SecondResponsivePoint) {
      grid-template-columns: 105px 600px 1fr;
    }

    @media (max-width: $ThirdResponsivePoint) {
      grid-template-columns: 1fr 600px 1fr;
    }

    @media (max-width: $FourthResponsivePoint) {
      grid-template-columns: 0px 1fr 0px;
    }

    .left-column-container {
      grid-area: left-column;
      align-self: flex-start;

      @media (max-width: $firstResponsivePoint) {
        justify-self: flex-end;
      }

      @media (max-width: $SecondResponsivePoint) {
        justify-self: center;
      }

      @media (max-width: $ThirdResponsivePoint) {
        justify-self: flex-end;
      }

      @media (max-width: $FourthResponsivePoint) {
        display: none;
      }
    }

    .center-column-container {
      grid-area: center-column;
      justify-self: center;

      display: flex;
      flex-direction: column;

      @media (max-width: $FourthResponsivePoint) {
        margin: 0 5px;
      }
    }

    .right-column-container {
      grid-area: right-column;

      display: flex;
      flex-direction: column;

      margin-left: 20px;

      @media (max-width: $firstResponsivePoint) {
        margin-right: 20px;
      }

      @media (max-width: $ThirdResponsivePoint) {
        display: none;
      }
    }
}
