$twitterGray: #728390;
$twitterBlue: #1a91da;
$twitterDarkGray: #657886;
$twitterLightBlue: #e8f5fe;
$twitterLightRed: #F3E3EB;
$twitterRed: #E33C6F;

.profile-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  .title {
    height: 55px;
    font-size: 20px;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1 {
      margin-left: 20px;
    }
  }

  .images {
    height: 200px;
    width: 100%;
    background-image: url("../../images/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;

    .profile-image {
      margin-left: 10px;
      position: relative;
      top: 80px;

      img {
        height: 140px;
        border-radius: 50%;
        border: 4px solid white;
      }
    }
  } //images

  .profile {
    padding: 0 10px;
    margin-top: 75px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      h1 {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 5px;
      }

      p {
        color: $twitterGray;
      }
    } //name

    .bio {
      text-align: start;
      margin-bottom: 15px;

      p {
        line-height: 1.2;

        a {
          text-decoration: none;
          color: $twitterBlue;
        }
      }
    } //bio

    .date {
      display: flex;
      margin-bottom: 15px;

      .calendar {
        height: 18px;
        margin-right: 10px;

        g {
          fill: $twitterGray;
        }
      }

      p {
        color: $twitterGray;
      }
    } //date

    .stats {
      display: flex;
      margin-bottom: 15px;

      p {
        font-weight: bold;
        margin-right: 25px;

        span {
          color: $twitterGray;
          font-weight: normal;
        }
      }
    }
  } //profile
} //profile-container

.tweets-container {
  height: auto;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  .header {
    height: 55px;
    display: flex;
    border-bottom: 1px solid lightgray;

    .cv {
      width: 50%;
      padding-bottom: 3px;
    }

    .portfolio {
      width: 50%;
      padding-bottom: 3px;
    }

    .header-link {
      text-decoration: none;
      color: $twitterDarkGray;
      font-weight: bold;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $twitterLightBlue;
        color: $twitterBlue;
        border-bottom: 2px solid $twitterLightBlue;
      }
    }
  }

  .tweets {
    display: flex;
    flex-direction: column;

    .tweet {
      padding: 20px 10px 10px 10px;
      border-bottom: 1px solid lightgray;
    }

    .tweet-upper {
      display: flex;
      margin-bottom: 5px;

      .profile-picture {
        margin-right: 10px;

        img {
          width: 50px;
          border-radius: 50%;
        }
      }

      .tweet-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tweet-header {
          margin-bottom: 10px;

          p {
            font-weight: bold;

            span {
              color: $twitterGray;
              font-weight: normal;
            }
          }
        }

        .tweet-message {
          text-align: start;
        }
      }
    } //tweet

    .tweet-social {
      display: flex;
      justify-content: flex-start;
      margin-left: 50px;

      .like {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: auto;

        .icon-container {
          padding: 10px;
          margin-right: 2px;
  
          .heart-icon {
            height: 20px;
            fill: $twitterGray;
          }
          
          .heart-icon-filled {
            height: 20px;
            fill: $twitterRed;
          }
        }
  
        .liked-false {
          color: $twitterGray;
        }

        .liked-true {
          color: $twitterRed;
        }
  
        &:hover {
          .icon-container {
            background: $twitterLightRed;
            border-radius: 50px;
  
            .heart-icon {
              fill: $twitterRed;
            }

            .heart-icon-filled {
              fill: $twitterRed;
            }
          }
  
          p {
            color: $twitterRed;
          }
        }
      }
    }
  } //tweets
} //tweets-container
